<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albee.albeepoint.mapper.base.t_sub_cont_mst.TSubContMstMapper">
  <resultMap id="BaseResultMap" type="com.albee.albeepoint.mapper.base.t_sub_cont_mst.TSubContMst">
    <id column="CONT_NO" jdbcType="BIGINT" property="contNo" />
    <id column="CONT_SEQ" jdbcType="BIGINT" property="contSeq" />
    <result column="CONT_NM" jdbcType="VARCHAR" property="contNm" />
    <result column="START_DT" jdbcType="TIMESTAMP" property="startDt" />
    <result column="END_DT" jdbcType="TIMESTAMP" property="endDt" />
    <result column="ISU_START_DT" jdbcType="TIMESTAMP" property="isuStartDt" />
    <result column="ISU_END_DT" jdbcType="TIMESTAMP" property="isuEndDt" />
    <result column="USE_START_DT" jdbcType="TIMESTAMP" property="useStartDt" />
    <result column="USE_END_DT" jdbcType="TIMESTAMP" property="useEndDt" />
    <result column="CONT_REG_DT" jdbcType="TIMESTAMP" property="contRegDt" />
    <result column="USE_START_DT_CALC_TYPE_CD" jdbcType="VARCHAR" property="useStartDtCalcTypeCd" />
    <result column="USE_START_DT_CALC_VAL" jdbcType="INTEGER" property="useStartDtCalcVal" />
    <result column="USE_PERIOD_CALC_TYPE_CD" jdbcType="VARCHAR" property="usePeriodCalcTypeCd" />
    <result column="USE_PERIOD_CALC_VAL" jdbcType="INTEGER" property="usePeriodCalcVal" />
    <result column="CONT_STS_CD" jdbcType="VARCHAR" property="contStsCd" />
    <result column="MIX_USE_YN" jdbcType="VARCHAR" property="mixUseYn" />
    <result column="ISU_PERIOD_LIMIT_TYPE_CD" jdbcType="VARCHAR" property="isuPeriodLimitTypeCd" />
    <result column="ISU_PERIOD_MAX_PT" jdbcType="BIGINT" property="isuPeriodMaxPt" />
    <result column="ISU_PERIOD_MAX_CNT" jdbcType="INTEGER" property="isuPeriodMaxCnt" />
    <result column="ONCE_ISU_LIMIT_TYPE_CD" jdbcType="VARCHAR" property="onceIsuLimitTypeCd" />
    <result column="ONCE_ISU_FIX_PT" jdbcType="BIGINT" property="onceIsuFixPt" />
    <result column="ONCE_ISU_PURCHASE_RATE" jdbcType="DOUBLE" property="onceIsuPurchaseRate" />
    <result column="ONCE_ISU_MIN_PT" jdbcType="BIGINT" property="onceIsuMinPt" />
    <result column="ONCE_ISU_MAX_PT" jdbcType="BIGINT" property="onceIsuMaxPt" />
    <result column="USE_PERIOD_LIMIT_TYPE_CD" jdbcType="VARCHAR" property="usePeriodLimitTypeCd" />
    <result column="USE_PERIOD_MAX_PT" jdbcType="BIGINT" property="usePeriodMaxPt" />
    <result column="USE_PERIOD_MAX_CNT" jdbcType="INTEGER" property="usePeriodMaxCnt" />
    <result column="ONCE_USE_LIMIT_TYPE_CD" jdbcType="VARCHAR" property="onceUseLimitTypeCd" />
    <result column="ONCE_USE_FIX_PT" jdbcType="BIGINT" property="onceUseFixPt" />
    <result column="ONCE_USE_PURCHASE_RATE" jdbcType="DOUBLE" property="onceUsePurchaseRate" />
    <result column="ONCE_USE_MIN_PT" jdbcType="BIGINT" property="onceUseMinPt" />
    <result column="ONCE_USE_MAX_PT" jdbcType="BIGINT" property="onceUseMaxPt" />
    <result column="TOTAL_ISU_LIMIT_TYPE_CD" jdbcType="VARCHAR" property="totalIsuLimitTypeCd" />
    <result column="TOTAL_ISU_ABLE_PT" jdbcType="BIGINT" property="totalIsuAblePt" />
    <result column="TOTAL_ISU_ABLE_CNT" jdbcType="BIGINT" property="totalIsuAbleCnt" />
    <result column="MIN_PURCHASE_AMT" jdbcType="BIGINT" property="minPurchaseAmt" />
    <result column="REG_USER_ID" jdbcType="VARCHAR" property="regUserId" />
    <result column="REG_DT" jdbcType="TIMESTAMP" property="regDt" />
    <result column="LAST_MOD_USER_ID" jdbcType="VARCHAR" property="lastModUserId" />
    <result column="LAST_MOD_DT" jdbcType="TIMESTAMP" property="lastModDt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CONT_NO, CONT_SEQ, CONT_NM, START_DT, END_DT, ISU_START_DT, ISU_END_DT, USE_START_DT, 
    USE_END_DT, CONT_REG_DT, USE_START_DT_CALC_TYPE_CD, USE_START_DT_CALC_VAL, USE_PERIOD_CALC_TYPE_CD, 
    USE_PERIOD_CALC_VAL, CONT_STS_CD, MIX_USE_YN, ISU_PERIOD_LIMIT_TYPE_CD, ISU_PERIOD_MAX_PT, 
    ISU_PERIOD_MAX_CNT, ONCE_ISU_LIMIT_TYPE_CD, ONCE_ISU_FIX_PT, ONCE_ISU_PURCHASE_RATE, 
    ONCE_ISU_MIN_PT, ONCE_ISU_MAX_PT, USE_PERIOD_LIMIT_TYPE_CD, USE_PERIOD_MAX_PT, USE_PERIOD_MAX_CNT, 
    ONCE_USE_LIMIT_TYPE_CD, ONCE_USE_FIX_PT, ONCE_USE_PURCHASE_RATE, ONCE_USE_MIN_PT, 
    ONCE_USE_MAX_PT, TOTAL_ISU_LIMIT_TYPE_CD, TOTAL_ISU_ABLE_PT, TOTAL_ISU_ABLE_CNT, 
    MIN_PURCHASE_AMT, REG_USER_ID, REG_DT, LAST_MOD_USER_ID, LAST_MOD_DT
  </sql>
  <select id="selectByExample" parameterType="com.albee.albeepoint.mapper.base.t_sub_cont_mst.TSubContMstExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sub_cont_mst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sub_cont_mst
    where CONT_NO = #{contNo,jdbcType=BIGINT}
      and CONT_SEQ = #{contSeq,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_sub_cont_mst
    where CONT_NO = #{contNo,jdbcType=BIGINT}
      and CONT_SEQ = #{contSeq,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.albee.albeepoint.mapper.base.t_sub_cont_mst.TSubContMstExample">
    delete from t_sub_cont_mst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.albee.albeepoint.mapper.base.t_sub_cont_mst.TSubContMst">
    insert into t_sub_cont_mst (CONT_NO, CONT_SEQ, CONT_NM, 
      START_DT, END_DT, ISU_START_DT, 
      ISU_END_DT, USE_START_DT, USE_END_DT, 
      CONT_REG_DT, USE_START_DT_CALC_TYPE_CD, USE_START_DT_CALC_VAL, 
      USE_PERIOD_CALC_TYPE_CD, USE_PERIOD_CALC_VAL, 
      CONT_STS_CD, MIX_USE_YN, ISU_PERIOD_LIMIT_TYPE_CD, 
      ISU_PERIOD_MAX_PT, ISU_PERIOD_MAX_CNT, ONCE_ISU_LIMIT_TYPE_CD, 
      ONCE_ISU_FIX_PT, ONCE_ISU_PURCHASE_RATE, ONCE_ISU_MIN_PT, 
      ONCE_ISU_MAX_PT, USE_PERIOD_LIMIT_TYPE_CD, USE_PERIOD_MAX_PT, 
      USE_PERIOD_MAX_CNT, ONCE_USE_LIMIT_TYPE_CD, ONCE_USE_FIX_PT, 
      ONCE_USE_PURCHASE_RATE, ONCE_USE_MIN_PT, ONCE_USE_MAX_PT, 
      TOTAL_ISU_LIMIT_TYPE_CD, TOTAL_ISU_ABLE_PT, TOTAL_ISU_ABLE_CNT, 
      MIN_PURCHASE_AMT, REG_USER_ID, REG_DT, 
      LAST_MOD_USER_ID, LAST_MOD_DT)
    values (#{contNo,jdbcType=BIGINT}, #{contSeq,jdbcType=BIGINT}, #{contNm,jdbcType=VARCHAR}, 
      #{startDt,jdbcType=TIMESTAMP}, #{endDt,jdbcType=TIMESTAMP}, #{isuStartDt,jdbcType=TIMESTAMP}, 
      #{isuEndDt,jdbcType=TIMESTAMP}, #{useStartDt,jdbcType=TIMESTAMP}, #{useEndDt,jdbcType=TIMESTAMP}, 
      #{contRegDt,jdbcType=TIMESTAMP}, #{useStartDtCalcTypeCd,jdbcType=VARCHAR}, #{useStartDtCalcVal,jdbcType=INTEGER}, 
      #{usePeriodCalcTypeCd,jdbcType=VARCHAR}, #{usePeriodCalcVal,jdbcType=INTEGER}, 
      #{contStsCd,jdbcType=VARCHAR}, #{mixUseYn,jdbcType=VARCHAR}, #{isuPeriodLimitTypeCd,jdbcType=VARCHAR}, 
      #{isuPeriodMaxPt,jdbcType=BIGINT}, #{isuPeriodMaxCnt,jdbcType=INTEGER}, #{onceIsuLimitTypeCd,jdbcType=VARCHAR}, 
      #{onceIsuFixPt,jdbcType=BIGINT}, #{onceIsuPurchaseRate,jdbcType=DOUBLE}, #{onceIsuMinPt,jdbcType=BIGINT}, 
      #{onceIsuMaxPt,jdbcType=BIGINT}, #{usePeriodLimitTypeCd,jdbcType=VARCHAR}, #{usePeriodMaxPt,jdbcType=BIGINT}, 
      #{usePeriodMaxCnt,jdbcType=INTEGER}, #{onceUseLimitTypeCd,jdbcType=VARCHAR}, #{onceUseFixPt,jdbcType=BIGINT}, 
      #{onceUsePurchaseRate,jdbcType=DOUBLE}, #{onceUseMinPt,jdbcType=BIGINT}, #{onceUseMaxPt,jdbcType=BIGINT}, 
      #{totalIsuLimitTypeCd,jdbcType=VARCHAR}, #{totalIsuAblePt,jdbcType=BIGINT}, #{totalIsuAbleCnt,jdbcType=BIGINT}, 
      #{minPurchaseAmt,jdbcType=BIGINT}, #{regUserId,jdbcType=VARCHAR}, #{regDt,jdbcType=TIMESTAMP}, 
      #{lastModUserId,jdbcType=VARCHAR}, #{lastModDt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.albee.albeepoint.mapper.base.t_sub_cont_mst.TSubContMst">
    insert into t_sub_cont_mst
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contNo != null">
        CONT_NO,
      </if>
      <if test="contSeq != null">
        CONT_SEQ,
      </if>
      <if test="contNm != null">
        CONT_NM,
      </if>
      <if test="startDt != null">
        START_DT,
      </if>
      <if test="endDt != null">
        END_DT,
      </if>
      <if test="isuStartDt != null">
        ISU_START_DT,
      </if>
      <if test="isuEndDt != null">
        ISU_END_DT,
      </if>
      <if test="useStartDt != null">
        USE_START_DT,
      </if>
      <if test="useEndDt != null">
        USE_END_DT,
      </if>
      <if test="contRegDt != null">
        CONT_REG_DT,
      </if>
      <if test="useStartDtCalcTypeCd != null">
        USE_START_DT_CALC_TYPE_CD,
      </if>
      <if test="useStartDtCalcVal != null">
        USE_START_DT_CALC_VAL,
      </if>
      <if test="usePeriodCalcTypeCd != null">
        USE_PERIOD_CALC_TYPE_CD,
      </if>
      <if test="usePeriodCalcVal != null">
        USE_PERIOD_CALC_VAL,
      </if>
      <if test="contStsCd != null">
        CONT_STS_CD,
      </if>
      <if test="mixUseYn != null">
        MIX_USE_YN,
      </if>
      <if test="isuPeriodLimitTypeCd != null">
        ISU_PERIOD_LIMIT_TYPE_CD,
      </if>
      <if test="isuPeriodMaxPt != null">
        ISU_PERIOD_MAX_PT,
      </if>
      <if test="isuPeriodMaxCnt != null">
        ISU_PERIOD_MAX_CNT,
      </if>
      <if test="onceIsuLimitTypeCd != null">
        ONCE_ISU_LIMIT_TYPE_CD,
      </if>
      <if test="onceIsuFixPt != null">
        ONCE_ISU_FIX_PT,
      </if>
      <if test="onceIsuPurchaseRate != null">
        ONCE_ISU_PURCHASE_RATE,
      </if>
      <if test="onceIsuMinPt != null">
        ONCE_ISU_MIN_PT,
      </if>
      <if test="onceIsuMaxPt != null">
        ONCE_ISU_MAX_PT,
      </if>
      <if test="usePeriodLimitTypeCd != null">
        USE_PERIOD_LIMIT_TYPE_CD,
      </if>
      <if test="usePeriodMaxPt != null">
        USE_PERIOD_MAX_PT,
      </if>
      <if test="usePeriodMaxCnt != null">
        USE_PERIOD_MAX_CNT,
      </if>
      <if test="onceUseLimitTypeCd != null">
        ONCE_USE_LIMIT_TYPE_CD,
      </if>
      <if test="onceUseFixPt != null">
        ONCE_USE_FIX_PT,
      </if>
      <if test="onceUsePurchaseRate != null">
        ONCE_USE_PURCHASE_RATE,
      </if>
      <if test="onceUseMinPt != null">
        ONCE_USE_MIN_PT,
      </if>
      <if test="onceUseMaxPt != null">
        ONCE_USE_MAX_PT,
      </if>
      <if test="totalIsuLimitTypeCd != null">
        TOTAL_ISU_LIMIT_TYPE_CD,
      </if>
      <if test="totalIsuAblePt != null">
        TOTAL_ISU_ABLE_PT,
      </if>
      <if test="totalIsuAbleCnt != null">
        TOTAL_ISU_ABLE_CNT,
      </if>
      <if test="minPurchaseAmt != null">
        MIN_PURCHASE_AMT,
      </if>
      <if test="regUserId != null">
        REG_USER_ID,
      </if>
      <if test="regDt != null">
        REG_DT,
      </if>
      <if test="lastModUserId != null">
        LAST_MOD_USER_ID,
      </if>
      <if test="lastModDt != null">
        LAST_MOD_DT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contNo != null">
        #{contNo,jdbcType=BIGINT},
      </if>
      <if test="contSeq != null">
        #{contSeq,jdbcType=BIGINT},
      </if>
      <if test="contNm != null">
        #{contNm,jdbcType=VARCHAR},
      </if>
      <if test="startDt != null">
        #{startDt,jdbcType=TIMESTAMP},
      </if>
      <if test="endDt != null">
        #{endDt,jdbcType=TIMESTAMP},
      </if>
      <if test="isuStartDt != null">
        #{isuStartDt,jdbcType=TIMESTAMP},
      </if>
      <if test="isuEndDt != null">
        #{isuEndDt,jdbcType=TIMESTAMP},
      </if>
      <if test="useStartDt != null">
        #{useStartDt,jdbcType=TIMESTAMP},
      </if>
      <if test="useEndDt != null">
        #{useEndDt,jdbcType=TIMESTAMP},
      </if>
      <if test="contRegDt != null">
        #{contRegDt,jdbcType=TIMESTAMP},
      </if>
      <if test="useStartDtCalcTypeCd != null">
        #{useStartDtCalcTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="useStartDtCalcVal != null">
        #{useStartDtCalcVal,jdbcType=INTEGER},
      </if>
      <if test="usePeriodCalcTypeCd != null">
        #{usePeriodCalcTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="usePeriodCalcVal != null">
        #{usePeriodCalcVal,jdbcType=INTEGER},
      </if>
      <if test="contStsCd != null">
        #{contStsCd,jdbcType=VARCHAR},
      </if>
      <if test="mixUseYn != null">
        #{mixUseYn,jdbcType=VARCHAR},
      </if>
      <if test="isuPeriodLimitTypeCd != null">
        #{isuPeriodLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="isuPeriodMaxPt != null">
        #{isuPeriodMaxPt,jdbcType=BIGINT},
      </if>
      <if test="isuPeriodMaxCnt != null">
        #{isuPeriodMaxCnt,jdbcType=INTEGER},
      </if>
      <if test="onceIsuLimitTypeCd != null">
        #{onceIsuLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="onceIsuFixPt != null">
        #{onceIsuFixPt,jdbcType=BIGINT},
      </if>
      <if test="onceIsuPurchaseRate != null">
        #{onceIsuPurchaseRate,jdbcType=DOUBLE},
      </if>
      <if test="onceIsuMinPt != null">
        #{onceIsuMinPt,jdbcType=BIGINT},
      </if>
      <if test="onceIsuMaxPt != null">
        #{onceIsuMaxPt,jdbcType=BIGINT},
      </if>
      <if test="usePeriodLimitTypeCd != null">
        #{usePeriodLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="usePeriodMaxPt != null">
        #{usePeriodMaxPt,jdbcType=BIGINT},
      </if>
      <if test="usePeriodMaxCnt != null">
        #{usePeriodMaxCnt,jdbcType=INTEGER},
      </if>
      <if test="onceUseLimitTypeCd != null">
        #{onceUseLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="onceUseFixPt != null">
        #{onceUseFixPt,jdbcType=BIGINT},
      </if>
      <if test="onceUsePurchaseRate != null">
        #{onceUsePurchaseRate,jdbcType=DOUBLE},
      </if>
      <if test="onceUseMinPt != null">
        #{onceUseMinPt,jdbcType=BIGINT},
      </if>
      <if test="onceUseMaxPt != null">
        #{onceUseMaxPt,jdbcType=BIGINT},
      </if>
      <if test="totalIsuLimitTypeCd != null">
        #{totalIsuLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="totalIsuAblePt != null">
        #{totalIsuAblePt,jdbcType=BIGINT},
      </if>
      <if test="totalIsuAbleCnt != null">
        #{totalIsuAbleCnt,jdbcType=BIGINT},
      </if>
      <if test="minPurchaseAmt != null">
        #{minPurchaseAmt,jdbcType=BIGINT},
      </if>
      <if test="regUserId != null">
        #{regUserId,jdbcType=VARCHAR},
      </if>
      <if test="regDt != null">
        #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModUserId != null">
        #{lastModUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastModDt != null">
        #{lastModDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.albee.albeepoint.mapper.base.t_sub_cont_mst.TSubContMstExample" resultType="java.lang.Long">
    select count(*) from t_sub_cont_mst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sub_cont_mst
    <set>
      <if test="row.contNo != null">
        CONT_NO = #{row.contNo,jdbcType=BIGINT},
      </if>
      <if test="row.contSeq != null">
        CONT_SEQ = #{row.contSeq,jdbcType=BIGINT},
      </if>
      <if test="row.contNm != null">
        CONT_NM = #{row.contNm,jdbcType=VARCHAR},
      </if>
      <if test="row.startDt != null">
        START_DT = #{row.startDt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.endDt != null">
        END_DT = #{row.endDt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.isuStartDt != null">
        ISU_START_DT = #{row.isuStartDt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.isuEndDt != null">
        ISU_END_DT = #{row.isuEndDt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.useStartDt != null">
        USE_START_DT = #{row.useStartDt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.useEndDt != null">
        USE_END_DT = #{row.useEndDt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.contRegDt != null">
        CONT_REG_DT = #{row.contRegDt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.useStartDtCalcTypeCd != null">
        USE_START_DT_CALC_TYPE_CD = #{row.useStartDtCalcTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="row.useStartDtCalcVal != null">
        USE_START_DT_CALC_VAL = #{row.useStartDtCalcVal,jdbcType=INTEGER},
      </if>
      <if test="row.usePeriodCalcTypeCd != null">
        USE_PERIOD_CALC_TYPE_CD = #{row.usePeriodCalcTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="row.usePeriodCalcVal != null">
        USE_PERIOD_CALC_VAL = #{row.usePeriodCalcVal,jdbcType=INTEGER},
      </if>
      <if test="row.contStsCd != null">
        CONT_STS_CD = #{row.contStsCd,jdbcType=VARCHAR},
      </if>
      <if test="row.mixUseYn != null">
        MIX_USE_YN = #{row.mixUseYn,jdbcType=VARCHAR},
      </if>
      <if test="row.isuPeriodLimitTypeCd != null">
        ISU_PERIOD_LIMIT_TYPE_CD = #{row.isuPeriodLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="row.isuPeriodMaxPt != null">
        ISU_PERIOD_MAX_PT = #{row.isuPeriodMaxPt,jdbcType=BIGINT},
      </if>
      <if test="row.isuPeriodMaxCnt != null">
        ISU_PERIOD_MAX_CNT = #{row.isuPeriodMaxCnt,jdbcType=INTEGER},
      </if>
      <if test="row.onceIsuLimitTypeCd != null">
        ONCE_ISU_LIMIT_TYPE_CD = #{row.onceIsuLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="row.onceIsuFixPt != null">
        ONCE_ISU_FIX_PT = #{row.onceIsuFixPt,jdbcType=BIGINT},
      </if>
      <if test="row.onceIsuPurchaseRate != null">
        ONCE_ISU_PURCHASE_RATE = #{row.onceIsuPurchaseRate,jdbcType=DOUBLE},
      </if>
      <if test="row.onceIsuMinPt != null">
        ONCE_ISU_MIN_PT = #{row.onceIsuMinPt,jdbcType=BIGINT},
      </if>
      <if test="row.onceIsuMaxPt != null">
        ONCE_ISU_MAX_PT = #{row.onceIsuMaxPt,jdbcType=BIGINT},
      </if>
      <if test="row.usePeriodLimitTypeCd != null">
        USE_PERIOD_LIMIT_TYPE_CD = #{row.usePeriodLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="row.usePeriodMaxPt != null">
        USE_PERIOD_MAX_PT = #{row.usePeriodMaxPt,jdbcType=BIGINT},
      </if>
      <if test="row.usePeriodMaxCnt != null">
        USE_PERIOD_MAX_CNT = #{row.usePeriodMaxCnt,jdbcType=INTEGER},
      </if>
      <if test="row.onceUseLimitTypeCd != null">
        ONCE_USE_LIMIT_TYPE_CD = #{row.onceUseLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="row.onceUseFixPt != null">
        ONCE_USE_FIX_PT = #{row.onceUseFixPt,jdbcType=BIGINT},
      </if>
      <if test="row.onceUsePurchaseRate != null">
        ONCE_USE_PURCHASE_RATE = #{row.onceUsePurchaseRate,jdbcType=DOUBLE},
      </if>
      <if test="row.onceUseMinPt != null">
        ONCE_USE_MIN_PT = #{row.onceUseMinPt,jdbcType=BIGINT},
      </if>
      <if test="row.onceUseMaxPt != null">
        ONCE_USE_MAX_PT = #{row.onceUseMaxPt,jdbcType=BIGINT},
      </if>
      <if test="row.totalIsuLimitTypeCd != null">
        TOTAL_ISU_LIMIT_TYPE_CD = #{row.totalIsuLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="row.totalIsuAblePt != null">
        TOTAL_ISU_ABLE_PT = #{row.totalIsuAblePt,jdbcType=BIGINT},
      </if>
      <if test="row.totalIsuAbleCnt != null">
        TOTAL_ISU_ABLE_CNT = #{row.totalIsuAbleCnt,jdbcType=BIGINT},
      </if>
      <if test="row.minPurchaseAmt != null">
        MIN_PURCHASE_AMT = #{row.minPurchaseAmt,jdbcType=BIGINT},
      </if>
      <if test="row.regUserId != null">
        REG_USER_ID = #{row.regUserId,jdbcType=VARCHAR},
      </if>
      <if test="row.regDt != null">
        REG_DT = #{row.regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.lastModUserId != null">
        LAST_MOD_USER_ID = #{row.lastModUserId,jdbcType=VARCHAR},
      </if>
      <if test="row.lastModDt != null">
        LAST_MOD_DT = #{row.lastModDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sub_cont_mst
    set CONT_NO = #{row.contNo,jdbcType=BIGINT},
      CONT_SEQ = #{row.contSeq,jdbcType=BIGINT},
      CONT_NM = #{row.contNm,jdbcType=VARCHAR},
      START_DT = #{row.startDt,jdbcType=TIMESTAMP},
      END_DT = #{row.endDt,jdbcType=TIMESTAMP},
      ISU_START_DT = #{row.isuStartDt,jdbcType=TIMESTAMP},
      ISU_END_DT = #{row.isuEndDt,jdbcType=TIMESTAMP},
      USE_START_DT = #{row.useStartDt,jdbcType=TIMESTAMP},
      USE_END_DT = #{row.useEndDt,jdbcType=TIMESTAMP},
      CONT_REG_DT = #{row.contRegDt,jdbcType=TIMESTAMP},
      USE_START_DT_CALC_TYPE_CD = #{row.useStartDtCalcTypeCd,jdbcType=VARCHAR},
      USE_START_DT_CALC_VAL = #{row.useStartDtCalcVal,jdbcType=INTEGER},
      USE_PERIOD_CALC_TYPE_CD = #{row.usePeriodCalcTypeCd,jdbcType=VARCHAR},
      USE_PERIOD_CALC_VAL = #{row.usePeriodCalcVal,jdbcType=INTEGER},
      CONT_STS_CD = #{row.contStsCd,jdbcType=VARCHAR},
      MIX_USE_YN = #{row.mixUseYn,jdbcType=VARCHAR},
      ISU_PERIOD_LIMIT_TYPE_CD = #{row.isuPeriodLimitTypeCd,jdbcType=VARCHAR},
      ISU_PERIOD_MAX_PT = #{row.isuPeriodMaxPt,jdbcType=BIGINT},
      ISU_PERIOD_MAX_CNT = #{row.isuPeriodMaxCnt,jdbcType=INTEGER},
      ONCE_ISU_LIMIT_TYPE_CD = #{row.onceIsuLimitTypeCd,jdbcType=VARCHAR},
      ONCE_ISU_FIX_PT = #{row.onceIsuFixPt,jdbcType=BIGINT},
      ONCE_ISU_PURCHASE_RATE = #{row.onceIsuPurchaseRate,jdbcType=DOUBLE},
      ONCE_ISU_MIN_PT = #{row.onceIsuMinPt,jdbcType=BIGINT},
      ONCE_ISU_MAX_PT = #{row.onceIsuMaxPt,jdbcType=BIGINT},
      USE_PERIOD_LIMIT_TYPE_CD = #{row.usePeriodLimitTypeCd,jdbcType=VARCHAR},
      USE_PERIOD_MAX_PT = #{row.usePeriodMaxPt,jdbcType=BIGINT},
      USE_PERIOD_MAX_CNT = #{row.usePeriodMaxCnt,jdbcType=INTEGER},
      ONCE_USE_LIMIT_TYPE_CD = #{row.onceUseLimitTypeCd,jdbcType=VARCHAR},
      ONCE_USE_FIX_PT = #{row.onceUseFixPt,jdbcType=BIGINT},
      ONCE_USE_PURCHASE_RATE = #{row.onceUsePurchaseRate,jdbcType=DOUBLE},
      ONCE_USE_MIN_PT = #{row.onceUseMinPt,jdbcType=BIGINT},
      ONCE_USE_MAX_PT = #{row.onceUseMaxPt,jdbcType=BIGINT},
      TOTAL_ISU_LIMIT_TYPE_CD = #{row.totalIsuLimitTypeCd,jdbcType=VARCHAR},
      TOTAL_ISU_ABLE_PT = #{row.totalIsuAblePt,jdbcType=BIGINT},
      TOTAL_ISU_ABLE_CNT = #{row.totalIsuAbleCnt,jdbcType=BIGINT},
      MIN_PURCHASE_AMT = #{row.minPurchaseAmt,jdbcType=BIGINT},
      REG_USER_ID = #{row.regUserId,jdbcType=VARCHAR},
      REG_DT = #{row.regDt,jdbcType=TIMESTAMP},
      LAST_MOD_USER_ID = #{row.lastModUserId,jdbcType=VARCHAR},
      LAST_MOD_DT = #{row.lastModDt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.albee.albeepoint.mapper.base.t_sub_cont_mst.TSubContMst">
    update t_sub_cont_mst
    <set>
      <if test="contNm != null">
        CONT_NM = #{contNm,jdbcType=VARCHAR},
      </if>
      <if test="startDt != null">
        START_DT = #{startDt,jdbcType=TIMESTAMP},
      </if>
      <if test="endDt != null">
        END_DT = #{endDt,jdbcType=TIMESTAMP},
      </if>
      <if test="isuStartDt != null">
        ISU_START_DT = #{isuStartDt,jdbcType=TIMESTAMP},
      </if>
      <if test="isuEndDt != null">
        ISU_END_DT = #{isuEndDt,jdbcType=TIMESTAMP},
      </if>
      <if test="useStartDt != null">
        USE_START_DT = #{useStartDt,jdbcType=TIMESTAMP},
      </if>
      <if test="useEndDt != null">
        USE_END_DT = #{useEndDt,jdbcType=TIMESTAMP},
      </if>
      <if test="contRegDt != null">
        CONT_REG_DT = #{contRegDt,jdbcType=TIMESTAMP},
      </if>
      <if test="useStartDtCalcTypeCd != null">
        USE_START_DT_CALC_TYPE_CD = #{useStartDtCalcTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="useStartDtCalcVal != null">
        USE_START_DT_CALC_VAL = #{useStartDtCalcVal,jdbcType=INTEGER},
      </if>
      <if test="usePeriodCalcTypeCd != null">
        USE_PERIOD_CALC_TYPE_CD = #{usePeriodCalcTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="usePeriodCalcVal != null">
        USE_PERIOD_CALC_VAL = #{usePeriodCalcVal,jdbcType=INTEGER},
      </if>
      <if test="contStsCd != null">
        CONT_STS_CD = #{contStsCd,jdbcType=VARCHAR},
      </if>
      <if test="mixUseYn != null">
        MIX_USE_YN = #{mixUseYn,jdbcType=VARCHAR},
      </if>
      <if test="isuPeriodLimitTypeCd != null">
        ISU_PERIOD_LIMIT_TYPE_CD = #{isuPeriodLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="isuPeriodMaxPt != null">
        ISU_PERIOD_MAX_PT = #{isuPeriodMaxPt,jdbcType=BIGINT},
      </if>
      <if test="isuPeriodMaxCnt != null">
        ISU_PERIOD_MAX_CNT = #{isuPeriodMaxCnt,jdbcType=INTEGER},
      </if>
      <if test="onceIsuLimitTypeCd != null">
        ONCE_ISU_LIMIT_TYPE_CD = #{onceIsuLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="onceIsuFixPt != null">
        ONCE_ISU_FIX_PT = #{onceIsuFixPt,jdbcType=BIGINT},
      </if>
      <if test="onceIsuPurchaseRate != null">
        ONCE_ISU_PURCHASE_RATE = #{onceIsuPurchaseRate,jdbcType=DOUBLE},
      </if>
      <if test="onceIsuMinPt != null">
        ONCE_ISU_MIN_PT = #{onceIsuMinPt,jdbcType=BIGINT},
      </if>
      <if test="onceIsuMaxPt != null">
        ONCE_ISU_MAX_PT = #{onceIsuMaxPt,jdbcType=BIGINT},
      </if>
      <if test="usePeriodLimitTypeCd != null">
        USE_PERIOD_LIMIT_TYPE_CD = #{usePeriodLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="usePeriodMaxPt != null">
        USE_PERIOD_MAX_PT = #{usePeriodMaxPt,jdbcType=BIGINT},
      </if>
      <if test="usePeriodMaxCnt != null">
        USE_PERIOD_MAX_CNT = #{usePeriodMaxCnt,jdbcType=INTEGER},
      </if>
      <if test="onceUseLimitTypeCd != null">
        ONCE_USE_LIMIT_TYPE_CD = #{onceUseLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="onceUseFixPt != null">
        ONCE_USE_FIX_PT = #{onceUseFixPt,jdbcType=BIGINT},
      </if>
      <if test="onceUsePurchaseRate != null">
        ONCE_USE_PURCHASE_RATE = #{onceUsePurchaseRate,jdbcType=DOUBLE},
      </if>
      <if test="onceUseMinPt != null">
        ONCE_USE_MIN_PT = #{onceUseMinPt,jdbcType=BIGINT},
      </if>
      <if test="onceUseMaxPt != null">
        ONCE_USE_MAX_PT = #{onceUseMaxPt,jdbcType=BIGINT},
      </if>
      <if test="totalIsuLimitTypeCd != null">
        TOTAL_ISU_LIMIT_TYPE_CD = #{totalIsuLimitTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="totalIsuAblePt != null">
        TOTAL_ISU_ABLE_PT = #{totalIsuAblePt,jdbcType=BIGINT},
      </if>
      <if test="totalIsuAbleCnt != null">
        TOTAL_ISU_ABLE_CNT = #{totalIsuAbleCnt,jdbcType=BIGINT},
      </if>
      <if test="minPurchaseAmt != null">
        MIN_PURCHASE_AMT = #{minPurchaseAmt,jdbcType=BIGINT},
      </if>
      <if test="regUserId != null">
        REG_USER_ID = #{regUserId,jdbcType=VARCHAR},
      </if>
      <if test="regDt != null">
        REG_DT = #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModUserId != null">
        LAST_MOD_USER_ID = #{lastModUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastModDt != null">
        LAST_MOD_DT = #{lastModDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CONT_NO = #{contNo,jdbcType=BIGINT}
      and CONT_SEQ = #{contSeq,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.albee.albeepoint.mapper.base.t_sub_cont_mst.TSubContMst">
    update t_sub_cont_mst
    set CONT_NM = #{contNm,jdbcType=VARCHAR},
      START_DT = #{startDt,jdbcType=TIMESTAMP},
      END_DT = #{endDt,jdbcType=TIMESTAMP},
      ISU_START_DT = #{isuStartDt,jdbcType=TIMESTAMP},
      ISU_END_DT = #{isuEndDt,jdbcType=TIMESTAMP},
      USE_START_DT = #{useStartDt,jdbcType=TIMESTAMP},
      USE_END_DT = #{useEndDt,jdbcType=TIMESTAMP},
      CONT_REG_DT = #{contRegDt,jdbcType=TIMESTAMP},
      USE_START_DT_CALC_TYPE_CD = #{useStartDtCalcTypeCd,jdbcType=VARCHAR},
      USE_START_DT_CALC_VAL = #{useStartDtCalcVal,jdbcType=INTEGER},
      USE_PERIOD_CALC_TYPE_CD = #{usePeriodCalcTypeCd,jdbcType=VARCHAR},
      USE_PERIOD_CALC_VAL = #{usePeriodCalcVal,jdbcType=INTEGER},
      CONT_STS_CD = #{contStsCd,jdbcType=VARCHAR},
      MIX_USE_YN = #{mixUseYn,jdbcType=VARCHAR},
      ISU_PERIOD_LIMIT_TYPE_CD = #{isuPeriodLimitTypeCd,jdbcType=VARCHAR},
      ISU_PERIOD_MAX_PT = #{isuPeriodMaxPt,jdbcType=BIGINT},
      ISU_PERIOD_MAX_CNT = #{isuPeriodMaxCnt,jdbcType=INTEGER},
      ONCE_ISU_LIMIT_TYPE_CD = #{onceIsuLimitTypeCd,jdbcType=VARCHAR},
      ONCE_ISU_FIX_PT = #{onceIsuFixPt,jdbcType=BIGINT},
      ONCE_ISU_PURCHASE_RATE = #{onceIsuPurchaseRate,jdbcType=DOUBLE},
      ONCE_ISU_MIN_PT = #{onceIsuMinPt,jdbcType=BIGINT},
      ONCE_ISU_MAX_PT = #{onceIsuMaxPt,jdbcType=BIGINT},
      USE_PERIOD_LIMIT_TYPE_CD = #{usePeriodLimitTypeCd,jdbcType=VARCHAR},
      USE_PERIOD_MAX_PT = #{usePeriodMaxPt,jdbcType=BIGINT},
      USE_PERIOD_MAX_CNT = #{usePeriodMaxCnt,jdbcType=INTEGER},
      ONCE_USE_LIMIT_TYPE_CD = #{onceUseLimitTypeCd,jdbcType=VARCHAR},
      ONCE_USE_FIX_PT = #{onceUseFixPt,jdbcType=BIGINT},
      ONCE_USE_PURCHASE_RATE = #{onceUsePurchaseRate,jdbcType=DOUBLE},
      ONCE_USE_MIN_PT = #{onceUseMinPt,jdbcType=BIGINT},
      ONCE_USE_MAX_PT = #{onceUseMaxPt,jdbcType=BIGINT},
      TOTAL_ISU_LIMIT_TYPE_CD = #{totalIsuLimitTypeCd,jdbcType=VARCHAR},
      TOTAL_ISU_ABLE_PT = #{totalIsuAblePt,jdbcType=BIGINT},
      TOTAL_ISU_ABLE_CNT = #{totalIsuAbleCnt,jdbcType=BIGINT},
      MIN_PURCHASE_AMT = #{minPurchaseAmt,jdbcType=BIGINT},
      REG_USER_ID = #{regUserId,jdbcType=VARCHAR},
      REG_DT = #{regDt,jdbcType=TIMESTAMP},
      LAST_MOD_USER_ID = #{lastModUserId,jdbcType=VARCHAR},
      LAST_MOD_DT = #{lastModDt,jdbcType=TIMESTAMP}
    where CONT_NO = #{contNo,jdbcType=BIGINT}
      and CONT_SEQ = #{contSeq,jdbcType=BIGINT}
  </update>
</mapper>