<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albee.albeepoint.mapper.base.t_cont_brch.TContBrchMapper">
  <resultMap id="BaseResultMap" type="com.albee.albeepoint.mapper.base.t_cont_brch.TContBrch">
    <id column="CONT_NO" jdbcType="BIGINT" property="contNo" />
    <id column="ORG_NO" jdbcType="BIGINT" property="orgNo" />
    <id column="BRCH_NO" jdbcType="BIGINT" property="brchNo" />
    <result column="CONT_SEQ" jdbcType="BIGINT" property="contSeq" />
    <result column="SAVE_CAN_YN" jdbcType="VARCHAR" property="saveCanYn" />
    <result column="USE_CAN_YN" jdbcType="VARCHAR" property="useCanYn" />
    <result column="CONT_BRCH_STS_CD" jdbcType="VARCHAR" property="contBrchStsCd" />
    <result column="TOTAL_ISU_ABLE_PT" jdbcType="BIGINT" property="totalIsuAblePt" />
    <result column="TOTAL_ISU_ABLE_CNT" jdbcType="BIGINT" property="totalIsuAbleCnt" />
    <result column="REG_USER_ID" jdbcType="VARCHAR" property="regUserId" />
    <result column="REG_DT" jdbcType="TIMESTAMP" property="regDt" />
    <result column="LAST_MOD_USER_ID" jdbcType="VARCHAR" property="lastModUserId" />
    <result column="LAST_MOD_DT" jdbcType="TIMESTAMP" property="lastModDt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CONT_NO, ORG_NO, BRCH_NO, CONT_SEQ, SAVE_CAN_YN, USE_CAN_YN, CONT_BRCH_STS_CD, TOTAL_ISU_ABLE_PT, 
    TOTAL_ISU_ABLE_CNT, REG_USER_ID, REG_DT, LAST_MOD_USER_ID, LAST_MOD_DT
  </sql>
  <select id="selectByExample" parameterType="com.albee.albeepoint.mapper.base.t_cont_brch.TContBrchExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cont_brch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cont_brch
    where CONT_NO = #{contNo,jdbcType=BIGINT}
      and ORG_NO = #{orgNo,jdbcType=BIGINT}
      and BRCH_NO = #{brchNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_cont_brch
    where CONT_NO = #{contNo,jdbcType=BIGINT}
      and ORG_NO = #{orgNo,jdbcType=BIGINT}
      and BRCH_NO = #{brchNo,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.albee.albeepoint.mapper.base.t_cont_brch.TContBrchExample">
    delete from t_cont_brch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.albee.albeepoint.mapper.base.t_cont_brch.TContBrch">
    insert into t_cont_brch (CONT_NO, ORG_NO, BRCH_NO, 
      CONT_SEQ, SAVE_CAN_YN, USE_CAN_YN, 
      CONT_BRCH_STS_CD, TOTAL_ISU_ABLE_PT, TOTAL_ISU_ABLE_CNT, 
      REG_USER_ID, REG_DT, LAST_MOD_USER_ID, 
      LAST_MOD_DT)
    values (#{contNo,jdbcType=BIGINT}, #{orgNo,jdbcType=BIGINT}, #{brchNo,jdbcType=BIGINT}, 
      #{contSeq,jdbcType=BIGINT}, #{saveCanYn,jdbcType=VARCHAR}, #{useCanYn,jdbcType=VARCHAR}, 
      #{contBrchStsCd,jdbcType=VARCHAR}, #{totalIsuAblePt,jdbcType=BIGINT}, #{totalIsuAbleCnt,jdbcType=BIGINT}, 
      #{regUserId,jdbcType=VARCHAR}, #{regDt,jdbcType=TIMESTAMP}, #{lastModUserId,jdbcType=VARCHAR}, 
      #{lastModDt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.albee.albeepoint.mapper.base.t_cont_brch.TContBrch">
    insert into t_cont_brch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contNo != null">
        CONT_NO,
      </if>
      <if test="orgNo != null">
        ORG_NO,
      </if>
      <if test="brchNo != null">
        BRCH_NO,
      </if>
      <if test="contSeq != null">
        CONT_SEQ,
      </if>
      <if test="saveCanYn != null">
        SAVE_CAN_YN,
      </if>
      <if test="useCanYn != null">
        USE_CAN_YN,
      </if>
      <if test="contBrchStsCd != null">
        CONT_BRCH_STS_CD,
      </if>
      <if test="totalIsuAblePt != null">
        TOTAL_ISU_ABLE_PT,
      </if>
      <if test="totalIsuAbleCnt != null">
        TOTAL_ISU_ABLE_CNT,
      </if>
      <if test="regUserId != null">
        REG_USER_ID,
      </if>
      <if test="regDt != null">
        REG_DT,
      </if>
      <if test="lastModUserId != null">
        LAST_MOD_USER_ID,
      </if>
      <if test="lastModDt != null">
        LAST_MOD_DT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contNo != null">
        #{contNo,jdbcType=BIGINT},
      </if>
      <if test="orgNo != null">
        #{orgNo,jdbcType=BIGINT},
      </if>
      <if test="brchNo != null">
        #{brchNo,jdbcType=BIGINT},
      </if>
      <if test="contSeq != null">
        #{contSeq,jdbcType=BIGINT},
      </if>
      <if test="saveCanYn != null">
        #{saveCanYn,jdbcType=VARCHAR},
      </if>
      <if test="useCanYn != null">
        #{useCanYn,jdbcType=VARCHAR},
      </if>
      <if test="contBrchStsCd != null">
        #{contBrchStsCd,jdbcType=VARCHAR},
      </if>
      <if test="totalIsuAblePt != null">
        #{totalIsuAblePt,jdbcType=BIGINT},
      </if>
      <if test="totalIsuAbleCnt != null">
        #{totalIsuAbleCnt,jdbcType=BIGINT},
      </if>
      <if test="regUserId != null">
        #{regUserId,jdbcType=VARCHAR},
      </if>
      <if test="regDt != null">
        #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModUserId != null">
        #{lastModUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastModDt != null">
        #{lastModDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.albee.albeepoint.mapper.base.t_cont_brch.TContBrchExample" resultType="java.lang.Long">
    select count(*) from t_cont_brch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_cont_brch
    <set>
      <if test="row.contNo != null">
        CONT_NO = #{row.contNo,jdbcType=BIGINT},
      </if>
      <if test="row.orgNo != null">
        ORG_NO = #{row.orgNo,jdbcType=BIGINT},
      </if>
      <if test="row.brchNo != null">
        BRCH_NO = #{row.brchNo,jdbcType=BIGINT},
      </if>
      <if test="row.contSeq != null">
        CONT_SEQ = #{row.contSeq,jdbcType=BIGINT},
      </if>
      <if test="row.saveCanYn != null">
        SAVE_CAN_YN = #{row.saveCanYn,jdbcType=VARCHAR},
      </if>
      <if test="row.useCanYn != null">
        USE_CAN_YN = #{row.useCanYn,jdbcType=VARCHAR},
      </if>
      <if test="row.contBrchStsCd != null">
        CONT_BRCH_STS_CD = #{row.contBrchStsCd,jdbcType=VARCHAR},
      </if>
      <if test="row.totalIsuAblePt != null">
        TOTAL_ISU_ABLE_PT = #{row.totalIsuAblePt,jdbcType=BIGINT},
      </if>
      <if test="row.totalIsuAbleCnt != null">
        TOTAL_ISU_ABLE_CNT = #{row.totalIsuAbleCnt,jdbcType=BIGINT},
      </if>
      <if test="row.regUserId != null">
        REG_USER_ID = #{row.regUserId,jdbcType=VARCHAR},
      </if>
      <if test="row.regDt != null">
        REG_DT = #{row.regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.lastModUserId != null">
        LAST_MOD_USER_ID = #{row.lastModUserId,jdbcType=VARCHAR},
      </if>
      <if test="row.lastModDt != null">
        LAST_MOD_DT = #{row.lastModDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_cont_brch
    set CONT_NO = #{row.contNo,jdbcType=BIGINT},
      ORG_NO = #{row.orgNo,jdbcType=BIGINT},
      BRCH_NO = #{row.brchNo,jdbcType=BIGINT},
      CONT_SEQ = #{row.contSeq,jdbcType=BIGINT},
      SAVE_CAN_YN = #{row.saveCanYn,jdbcType=VARCHAR},
      USE_CAN_YN = #{row.useCanYn,jdbcType=VARCHAR},
      CONT_BRCH_STS_CD = #{row.contBrchStsCd,jdbcType=VARCHAR},
      TOTAL_ISU_ABLE_PT = #{row.totalIsuAblePt,jdbcType=BIGINT},
      TOTAL_ISU_ABLE_CNT = #{row.totalIsuAbleCnt,jdbcType=BIGINT},
      REG_USER_ID = #{row.regUserId,jdbcType=VARCHAR},
      REG_DT = #{row.regDt,jdbcType=TIMESTAMP},
      LAST_MOD_USER_ID = #{row.lastModUserId,jdbcType=VARCHAR},
      LAST_MOD_DT = #{row.lastModDt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.albee.albeepoint.mapper.base.t_cont_brch.TContBrch">
    update t_cont_brch
    <set>
      <if test="contSeq != null">
        CONT_SEQ = #{contSeq,jdbcType=BIGINT},
      </if>
      <if test="saveCanYn != null">
        SAVE_CAN_YN = #{saveCanYn,jdbcType=VARCHAR},
      </if>
      <if test="useCanYn != null">
        USE_CAN_YN = #{useCanYn,jdbcType=VARCHAR},
      </if>
      <if test="contBrchStsCd != null">
        CONT_BRCH_STS_CD = #{contBrchStsCd,jdbcType=VARCHAR},
      </if>
      <if test="totalIsuAblePt != null">
        TOTAL_ISU_ABLE_PT = #{totalIsuAblePt,jdbcType=BIGINT},
      </if>
      <if test="totalIsuAbleCnt != null">
        TOTAL_ISU_ABLE_CNT = #{totalIsuAbleCnt,jdbcType=BIGINT},
      </if>
      <if test="regUserId != null">
        REG_USER_ID = #{regUserId,jdbcType=VARCHAR},
      </if>
      <if test="regDt != null">
        REG_DT = #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModUserId != null">
        LAST_MOD_USER_ID = #{lastModUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastModDt != null">
        LAST_MOD_DT = #{lastModDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CONT_NO = #{contNo,jdbcType=BIGINT}
      and ORG_NO = #{orgNo,jdbcType=BIGINT}
      and BRCH_NO = #{brchNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.albee.albeepoint.mapper.base.t_cont_brch.TContBrch">
    update t_cont_brch
    set CONT_SEQ = #{contSeq,jdbcType=BIGINT},
      SAVE_CAN_YN = #{saveCanYn,jdbcType=VARCHAR},
      USE_CAN_YN = #{useCanYn,jdbcType=VARCHAR},
      CONT_BRCH_STS_CD = #{contBrchStsCd,jdbcType=VARCHAR},
      TOTAL_ISU_ABLE_PT = #{totalIsuAblePt,jdbcType=BIGINT},
      TOTAL_ISU_ABLE_CNT = #{totalIsuAbleCnt,jdbcType=BIGINT},
      REG_USER_ID = #{regUserId,jdbcType=VARCHAR},
      REG_DT = #{regDt,jdbcType=TIMESTAMP},
      LAST_MOD_USER_ID = #{lastModUserId,jdbcType=VARCHAR},
      LAST_MOD_DT = #{lastModDt,jdbcType=TIMESTAMP}
    where CONT_NO = #{contNo,jdbcType=BIGINT}
      and ORG_NO = #{orgNo,jdbcType=BIGINT}
      and BRCH_NO = #{brchNo,jdbcType=BIGINT}
  </update>
</mapper>