<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albee.albeepoint.mapper.base.t_tr_hist_exp.TTrHistExpMapper">
  <resultMap id="BaseResultMap" type="com.albee.albeepoint.mapper.base.t_tr_hist_exp.TTrHistExp">
    <id column="EXP_DT" jdbcType="TIMESTAMP" property="expDt" />
    <id column="PT_NO" jdbcType="BIGINT" property="ptNo" />
    <result column="MEMBER_NO" jdbcType="BIGINT" property="memberNo" />
    <result column="CONT_NO" jdbcType="BIGINT" property="contNo" />
    <result column="EXP_PT" jdbcType="BIGINT" property="expPt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    EXP_DT, PT_NO, MEMBER_NO, CONT_NO, EXP_PT
  </sql>
  <select id="selectByExample" parameterType="com.albee.albeepoint.mapper.base.t_tr_hist_exp.TTrHistExpExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_tr_hist_exp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_tr_hist_exp
    where EXP_DT = #{expDt,jdbcType=TIMESTAMP}
      and PT_NO = #{ptNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_tr_hist_exp
    where EXP_DT = #{expDt,jdbcType=TIMESTAMP}
      and PT_NO = #{ptNo,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.albee.albeepoint.mapper.base.t_tr_hist_exp.TTrHistExpExample">
    delete from t_tr_hist_exp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.albee.albeepoint.mapper.base.t_tr_hist_exp.TTrHistExp">
    insert into t_tr_hist_exp (EXP_DT, PT_NO, MEMBER_NO, 
      CONT_NO, EXP_PT)
    values (#{expDt,jdbcType=TIMESTAMP}, #{ptNo,jdbcType=BIGINT}, #{memberNo,jdbcType=BIGINT}, 
      #{contNo,jdbcType=BIGINT}, #{expPt,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.albee.albeepoint.mapper.base.t_tr_hist_exp.TTrHistExp">
    insert into t_tr_hist_exp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expDt != null">
        EXP_DT,
      </if>
      <if test="ptNo != null">
        PT_NO,
      </if>
      <if test="memberNo != null">
        MEMBER_NO,
      </if>
      <if test="contNo != null">
        CONT_NO,
      </if>
      <if test="expPt != null">
        EXP_PT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expDt != null">
        #{expDt,jdbcType=TIMESTAMP},
      </if>
      <if test="ptNo != null">
        #{ptNo,jdbcType=BIGINT},
      </if>
      <if test="memberNo != null">
        #{memberNo,jdbcType=BIGINT},
      </if>
      <if test="contNo != null">
        #{contNo,jdbcType=BIGINT},
      </if>
      <if test="expPt != null">
        #{expPt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.albee.albeepoint.mapper.base.t_tr_hist_exp.TTrHistExpExample" resultType="java.lang.Long">
    select count(*) from t_tr_hist_exp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_tr_hist_exp
    <set>
      <if test="row.expDt != null">
        EXP_DT = #{row.expDt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.ptNo != null">
        PT_NO = #{row.ptNo,jdbcType=BIGINT},
      </if>
      <if test="row.memberNo != null">
        MEMBER_NO = #{row.memberNo,jdbcType=BIGINT},
      </if>
      <if test="row.contNo != null">
        CONT_NO = #{row.contNo,jdbcType=BIGINT},
      </if>
      <if test="row.expPt != null">
        EXP_PT = #{row.expPt,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_tr_hist_exp
    set EXP_DT = #{row.expDt,jdbcType=TIMESTAMP},
      PT_NO = #{row.ptNo,jdbcType=BIGINT},
      MEMBER_NO = #{row.memberNo,jdbcType=BIGINT},
      CONT_NO = #{row.contNo,jdbcType=BIGINT},
      EXP_PT = #{row.expPt,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.albee.albeepoint.mapper.base.t_tr_hist_exp.TTrHistExp">
    update t_tr_hist_exp
    <set>
      <if test="memberNo != null">
        MEMBER_NO = #{memberNo,jdbcType=BIGINT},
      </if>
      <if test="contNo != null">
        CONT_NO = #{contNo,jdbcType=BIGINT},
      </if>
      <if test="expPt != null">
        EXP_PT = #{expPt,jdbcType=BIGINT},
      </if>
    </set>
    where EXP_DT = #{expDt,jdbcType=TIMESTAMP}
      and PT_NO = #{ptNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.albee.albeepoint.mapper.base.t_tr_hist_exp.TTrHistExp">
    update t_tr_hist_exp
    set MEMBER_NO = #{memberNo,jdbcType=BIGINT},
      CONT_NO = #{contNo,jdbcType=BIGINT},
      EXP_PT = #{expPt,jdbcType=BIGINT}
    where EXP_DT = #{expDt,jdbcType=TIMESTAMP}
      and PT_NO = #{ptNo,jdbcType=BIGINT}
  </update>
</mapper>